@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #bd984b;
  --font-museo-moderno: 'MuseoModerno', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-museo-moderno);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #bd984b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-museo-moderno), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-museo-moderno), sans-serif;
  color: #bd984b;
}
